.container {
  background-color: rgb(202, 201, 199);
  border: black solid 2px;
  margin-left: 23%;
  margin-right: 23%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: antiquewhite;
}

.group {
  display: flex;
}

.table{
  align-items: center;
  margin-left: 80px;
  padding: 20px;
}

th {
  border: solid black 1px;
  background-color: azure;
  padding: 10px;
}

td {
  justify-content: center;
  border: solid black 1px;
  background-color: azure;
  padding: 10px;
}

.column {
  padding: 5px;
  background-color: rgb(172, 171, 169);
  width: 400px;
  height: 95%;
  align-items: center;
}


.App {
  text-align: center;
  background-color: antiquewhite;
  padding: 20px;
  text-decoration: underline;
}

.purple {
  color: slateblue;
  text-decoration: underline slateblue;
}

.btn{
  background-color: white;
  border: solid black 1px;
  color: black;
  text-decoration: none;
  border-radius: 10%;
  margin: 5px;
  width: 50px;
  font-size: 18;
}