.container {
  padding: 10px;
}

body {
  background-color: white;
}

.group {
  border: black solid 2px;
  height: 150px;
  width: 250px;
}

.label {
  height: 20px;
  margin-top: 60px;
  justify-content: space-between;
  margin-left: 15px;
}

.table{
  border: black solid 1px;
  width: 300px;
  text-decoration: grid;
}

th {
  background-color: white;
  width: 20px;
}

td {
  justify-content: center;
  background-color: white;
  border: solid black 1px;
  width: 20px;
}

.column {
  padding: 5px;
  width: 400px;
  height: 95%;
}


.App {
  padding: 20px;
  margin-left: 10%;
}

.purple {
  color: slateblue;
  text-decoration: underline slateblue;
}

.btn{
  background-color: rgb(154, 221, 243);
  border: solid black 1px;
  color: white;
  text-decoration: none;
  border-radius: 10%;
  margin: 5px;
  width: 50px;
  font-size: 18;
}

.edit_btn {
  background-color: rgb(185, 172, 99);
  border: solid black 1px;
  color: white;
  text-decoration: none;
  border-radius: 10%;
  margin: 5px;
  width: 50px;
  font-size: 18;
}

.delete_btn {
  background-color: rgb(177, 124, 75);
  border: solid black 1px;
  color: white;
  text-decoration: none;
  border-radius: 10%;
  margin: 5px;
  width: 50px;
  font-size: 18;
}