.App {
  text-align: center;
}

.container {
  border: solid black 2px;
  box-shadow: 5px 5px rgb(66, 0, 0);
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20px;
  padding: 20px;
  background-color: rgb(255, 255, 254);
  color: rgb(66, 0, 0);
}